# Object files
*.o
*.ko
*.obj

# Libraries

# Shared objects (inc. Windows DLLs)
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex
log/
lib/openat.lib
mak/~linkdll.via
out/ALICE
out/ALICE.bin
out/BOOTLOADER
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_BESLOUDNESS
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_BESLOUDNESS.bin
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_CALCULATOR
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_CALCULATOR.bin
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_CALENDAR
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_CALENDAR.bin
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_CALLSETTING
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_CALLSETTING.bin
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_CAMIMGV
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_CAMIMGV.bin
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_CODE.bin
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_DAF
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_DAF.bin
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_DTCNT
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_DTCNT.bin
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_EM
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_EM.bin
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_FM
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_FM.bin
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_MATV
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_MATV.bin
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_MP4DEC
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_MP4DEC.bin
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_PROFILE
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_PROFILE.bin
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_SCRLOCK
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_SCRLOCK.bin
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_SETTINGS
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_SETTINGS.bin
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_SNDREC
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_SNDREC.bin
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_VDOPLY
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_VDOPLY.bin
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_VDOREC
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_VDOREC.bin
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_VEDEC
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_VEDEC.bin
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_VEENC
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_VEENC.bin
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_WAVETABLE
out/DYNAMIC_COMP_BIN/DYNAMIC_COMP_WAVETABLE.bin
out/DYNAMIC_COMP_CODE
out/EXT_BOOTLOADER
out/OPENAT_BIN.elf
out/OPENAT_BIN.lis
out/OPENAT_BIN.sym
out/OPENAT_FLASHTOOL.cfg
out/ROM
out/VIVA
out/VIVA.bin
out/ZIMAGE_ER
out/ZIMAGE_ER.bin
out/backup/ROM.orig
out/backup/VIVA.orig
out/dll/openatdll.dll
out/dll/openatdll.elf
out/dll/openatdll.lis
out/dll/openatdll.sym
out/lnkfeedback.txt
out/~gfh_files.tmp
wristband_V2.0_openat_20140718_for_UBLOX_module.IAB
wristband_V2.0_openat_20140718_for_UBLOX_module.IAD
wristband_V2.0_openat_20140718_for_UBLOX_module.IMB
wristband_V2.0_openat_20140718_for_UBLOX_module.IMD
wristband_V2.0_openat_20140718_for_UBLOX_module.PFI
wristband_V2.0_openat_20140718_for_UBLOX_module.PO
wristband_V2.0_openat_20140718_for_UBLOX_module.PR
wristband_V2.0_openat_20140718_for_UBLOX_module.PRI
wristband_V2.0_openat_20140718_for_UBLOX_module.PS
wristband_V2.0_openat_20140718_for_UBLOX_module.SearchResults
wristband_V2.0_openat_20140718_for_UBLOX_module.WK3
out/DYNAMIC_COMP_BESLOUDNESS
out/DYNAMIC_COMP_CALCULATOR
out/DYNAMIC_COMP_CALCULATOR.gz
out/DYNAMIC_COMP_CALENDAR
out/DYNAMIC_COMP_CALLSETTING.gz
out/DYNAMIC_COMP_CAMIMGV
out/DYNAMIC_COMP_CAMIMGV.gz
out/DYNAMIC_COMP_DAF
out/DYNAMIC_COMP_DAF.gz
out/DYNAMIC_COMP_DTCNT
out/DYNAMIC_COMP_EM
out/DYNAMIC_COMP_EM.bin
out/DYNAMIC_COMP_FM
out/DYNAMIC_COMP_FM.bin
out/DYNAMIC_COMP_MATV
out/DYNAMIC_COMP_MATV.gz
out/DYNAMIC_COMP_MP4DEC
out/DYNAMIC_COMP_MP4DEC.gz
out/DYNAMIC_COMP_PROFILE
out/DYNAMIC_COMP_PROFILE.gz
out/DYNAMIC_COMP_SCRLOCK
out/DYNAMIC_COMP_SCRLOCK.gz
out/DYNAMIC_COMP_SETTINGS
out/DYNAMIC_COMP_SETTINGS.bin
out/DYNAMIC_COMP_SNDREC
out/DYNAMIC_COMP_SNDREC.gz
out/DYNAMIC_COMP_VDOPLY
out/DYNAMIC_COMP_VDOPLY.gz
out/DYNAMIC_COMP_VDOREC
out/DYNAMIC_COMP_VEDEC
out/DYNAMIC_COMP_VEENC
out/DYNAMIC_COMP_VEENC.gz
out/DYNAMIC_COMP_WAVETABLE
out/DYNAMIC_COMP_WAVETABLE.gz
